/* Navbar.css */
.navbar {
    background-color: #562e00;
  }
  
  .navbar-list {
    list-style: none;
    color: rgb(245, 222, 179);
  }
  .navbar {
   
    transition: transform 0.9s ease-in-out;
   /* Ensure it's above other content */
  }
  
  .navbar.hidden {
    transform: translateY(-40%);
  }
  
  .navbar.visible {
    transform: translateY(0);
  }
  
  