.navbar {
  background-image: url('https://i.postimg.cc/Vk7WZy9J/wooden-bg.jpg');
  transition: transform 0.9s ease-in-out;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-list {
  list-style: none;
  color: rgb(245, 222, 179);
  flex-direction: column;
  display: none; /* Hide the list initially */
}

.navbar-list.flex {
  display: flex; /* Show the list when the menu is toggled */
}

.navbar-list li {
  margin: 10px 0;
}

.navbar-list .navbar-item a {
  color: inherit;
  text-decoration: none;
  padding: 10px 20px;
}

.navbar-list .navbar-item a.active {
  border-bottom: 2px solid #fff;
}

.menu-icon {
  cursor: pointer;
  color: rgb(245, 222, 179);
}

@media (min-width: 1300px) {
  .menu-icon {
    display: none; /* Hide the hamburger menu on screens wider than 1200px */
  }

  .navbar-list {
    display: flex; /* Show the navbar list as a flex row on screens wider than 1200px */
    flex-direction: row;
    align-items: center;
  }

  .navbar-list li {
    margin: 0 20px;
  }
}
@media (max-width: 1299px) {
  .navbar-list {
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #562e00;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 10;
  }
  .navbar{
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 800px){
 .navbar{
 display: block;
 }
}
