@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.waviy {
  position: relative;
  -webkit-box-reflect: below -35px linear-gradient(transparent, rgba(255, 255, 255, 0.35));
  font-size: 60px;
}

.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #333;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
}

@media screen and (max-width: 768px) {
  .waviy {
    font-size: 40px; 
  }
}

@media screen and (max-width: 576px) {
  .waviy {
    font-size: 30px; 
  }
  .waviy span {
    animation: none;
    animation-delay: none;
  }
}

@keyframes waviy {
  0%, 40%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}
