.team-section {
    background-color: #f7f7f7;
  }
  
  .team-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 20px; */
  }
  
  .team-card {
    /* background-color: white; */
    border-radius: 10px;
    overflow: hidden;
    max-width: 300px;
  }
  
  .team-img {
    width: 100%;
    height: auto;
  }
  
  .team-content {
    padding: 15px;
  }
  .navigation{
    background-color: black;
  }
.member-info{
    padding: 30px 15px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 15px;
    margin: -50px 20px 0px;
    position: relative;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
    color: white;
    font-weight: bold;
    background: linear-gradient(0deg, rgb(238, 30, 70) 30%, rgb(238, 30, 70) 0px);
}